.primaryButton {
  background-color: #ff007e;
  color: white;
  font-family: "Poppins", sans-serif;
  padding: 10px 20px;
  border-radius: 30px;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
}