.primaryButton {
  background-color: var(--clr-focus);
  color: var(--clr-text);
  font-family: var(--ff-regular);
  font-size: var(--fs-200);
  padding: 15px 50px;
  border-radius: 30px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  border: none;
}

@media (max-width: 768px) {
  .primaryButton {
    font-size: var(--fs-100);
    padding: 8px 30px;
    border-radius: 30px;
  }
}
