*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: inherit;
}

html {
  hanging-punctuation: first last;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100svh;
}

img,
picture,
svg,
video {
  display: block;
  font-style: italic;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  max-width: 75ch;
  text-wrap: pretty;
}

button,
input:is([type="submit"], [type="button"], [type="checkbox"]) {
  color: inherit;
  cursor: pointer;
  letter-spacing: inherit;
}

input[type="number"] {
  appearance: normal;
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

table {
  font-variant-numeric: tabular-nums;
}

@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
  }
}
