@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "../../Styles/DesignStyles.css";

body {
  font-family: "Poppins", sans-serif;
  font-weight: var(--fw-regular);
  background-color: #000000;
}

.search-prompt {
  color: var(--clr-focus);
}

.search-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-input {
  background-color: #ffffff;
  color: #000000;
  margin: 1rem;
  width: 60%;
  height: 2.5rem;
  border: none;
  border-radius: 30px;
  position: relative;
  background-image: url("../../Images/search\ 1.png");
  background-repeat: no-repeat;
  background-position: 2%;
}

.search-input:focus,
.search-input::placeholder {
  padding-left: 50px;
}

.search-input:focus::placeholder {
  color: transparent;
}

.search-results {
  background-color: white;
  color: #000000;
  margin: 2rem;
  width: 60%;
  height: 20%;
  border: none;
  border-radius: 30px;
  position: relative;
}

.search-items {
  display: flex;
  flex-direction: row;
  align-items: start;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.albumImg {
}

.trackItem {
  color: #000000;
  margin-top: 1.5rem;
  margin-left: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
}

.artistItem {
  color: #000000;
  margin-top: 1.5rem;
  margin-left: 0.3rem;
  font-size: 1rem;
}

.plus-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin-top: 1.2rem;
  margin-left: 45%;
  background-image: url("../../Images/Plus.png");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
