.nav {
  column-gap: 50px;
  display: flex;
}

.navItem {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-family: var(--ff-regular);
  font-size:var(--fs-200);
  font-weight: 300;
  letter-spacing: 1%;
}

.underline {
  text-decoration: underline !important;
}